LLM_PROVIDER=ollama
# ollama settings
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b-instruct-q4_K_M

# openai settings
# OPENAI_API_KEY=sk-xxxxx
OPENAI_MODEL=gpt-4o-mini
OPENAI_BASE_URL=https://api.openai.com/v1

# databases config
CONFIG_DATABASES_FILE=./config/databases.yaml

# server
HOST=0.0.0.0
PORT=8000

